<table class="primary">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>No of Articles</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |friend|}}
      <tr>
        <td>{{friend.id}}</td>
        <td>{{link-to friend.fullName "friends.show" friend}}</td>
        <td>{{friend.totalArticles}}</td>
        <td><a href="#" {{action "delete" friend}}>Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
